<div class="navbar">
  <ul class="buttons">
    <li><%= link_to "Accueil", root_path, class: "btn-navbar text-decoration-none" %></li>
    <li><%= link_to "Consulting", consulting_path, class: "btn-navbar text-decoration-none" %></li>
    <li><%= link_to "Atelier", atelier_path, class: "btn-navbar text-decoration-none" %></li>      <li><%= link_to "Collaboration", collaboration_path, class: "btn-navbar text-decoration-none" %></li>
    <li><%= link_to "Creation", creation_path, class: "btn-navbar text-decoration-none" %></li>
  </ul>
</div>
