<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('https://res.cloudinary.com/diavcbwzh/image/upload/v1606245809/Noa%20Bakery/WhatsApp_Image_2020-11-24_at_17.04.03_iarwpu.jpg') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Noa Katz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
